aiofiles==0.3.2
httptools==0.0.11
Jinja2==2.10
MarkupSafe==1.0
pika==0.12.0
sanic==0.7.0
Sanic-WTF==0.5.0
ujson==1.35
uvloop==0.11.2
websockets==6.0
WTForms==2.2.1
sanic-auth==0.2.0
sanic-session==0.4.1
sqlalchemy==1.2.10
werkzeug==0.14.1
fluent-logger==0.9.3
