<!DOCTYPE html>
<html>
<head>
    <script src="/static/script.js"></script>
    <title>GitHeatMap</title>
</head>
<body>
<div>
    <div id="response"></div>
    <h2>Choose</h2>

    Git client:<br>
    <select id="git_client">
        <option>github</option>
        <option>gitlab</option>
        <option>bitbucket</option>
    </select><br>
    Version:<br>
    <input type="text" id="version"><br>
    Repo:<br>
    <input type="text" id="repo"><br>
    Owner:<br>
    <input type="text" id="owner"><br>
    Token:<br>
    <input type="text" id="token"><br>
    Hash:<br>
    <input type="text" id="hash"><br>
    Branch:<br>
    <input type="text" id="branch"><br>
    Action:<br>
    <select id="action">
        <option>get_repo</option>
        <option>get_branches</option>
        <option>get_commits</option>
        <option>get_contributors</option>
        <option>get_commit_by_hash</option>
        <option>get_commits_by_branch</option>
    </select><br>
    <input type="button" id="getInfoButton" value="get info">
    <input type="button" value="Open response">

</div>
</body>
</html>
