<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/script.js"></script>
    <title>Login</title>
</head>
<body>
    <h2>Please sign in, you can try:</h2>
    <div id="error"></div>
    <div>
        <input id="username" name="username"
               placeholder="username" type="text" value=""><br>
        <input id="password" name="password"
               placeholder="password" type="password" value=""><br>

        <input id="loginButton" type="button" value="Sign In">
        <a href="register" > registration</a>
    </div>
</body>
</html>