<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GitHeatMap</title>
</head>
<body>
<span>Git client</span>
<select id="git_client">
    <option>GitHub</option>
    <option>GitLab</option>
    <option>Bitbucket</option>
</select><br>
<span>Token</span>
<input id="token"><br>
<span>Repository</span>
<input id="repo"><br>
<span>Owner</span>
<input id="owner"><br>
<span>Hash</span>
<input id="branch"><br>
<span>Action</span>
<select id="action"><br>
    <option>get_repo</option>
    <option>get_branches</option>
    <option>get_commits</option>
    <option>get_contributors</option>
    <option>get_commit_by_hash</option>
    <option>get_commits_by_branch</option>
</select>
</body>
</html>